// Primary
$DesaturatedRed: hsl(0, 36%, 70%);
$SoftRed: hsl(0, 93%, 68%);
// Neutral
$DarkGrayishRed: hsl(0, 6%, 24%);
// Gradients
// Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
// Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)
// Typography
// Body Copy
// Font size: 16px
html{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
}
body{
	font-family: inherit;
	width: 375px;
	margin-left: auto;
	margin-right: auto;
	@media screen and (min-width: 900px) {
		width: 100%;
		background: url('images/bg-pattern-desktop.svg') no-repeat;
		background-size: contain;
	}
}
.main{
	@media screen and (min-width: 900px) {
		display: grid;
		grid-template-columns: 1fr 610px;
		grid-template-rows:	100px auto;
	}
}
figure{
	margin: 0;
}
.logo{
	margin: 2rem;
	@media screen and (min-width: 1200px) {
			margin-top: 4rem;
			margin-left: 10rem;
		}
	img{
		width: 100px;
		@media screen and (min-width: 1200px) {
			width: 160px;		
		}
	}
}
.hero{
	@media screen and (min-width: 900px) {
		grid-row: span 2;
	}
	img{
		max-width: 100%;
	}
}
.content{
	padding: 0 2rem;
	text-align: center;
	@media screen and (min-width: 1200px) {
		text-align: left;
		padding-left: 10rem;
	}
}
.title{
	margin-top: 4rem;
	margin-bottom: 0;
	font-size: 2.5rem;
	text-transform: uppercase;
	word-spacing: 999rem;
	letter-spacing: 0.6rem;
	color: $DarkGrayishRed;
	@media screen and (min-width: 1200px) {
		font-size: 4rem;
		letter-spacing: 0.8rem;
		margin-top: 8rem;
	}
	&--heading{
		font-weight: 300;
		color: $DesaturatedRed;
	}
}
.text{
	font-size: 14px;
	line-height: 1.5;
	color: $DesaturatedRed;
	margin-bottom: 2rem;
	@media screen and (min-width: 1200px) {
		font-size: 1rem;
		max-width: 28rem;
		line-height: 2;
	}
}
input,
button{
	border: none;
	background: none;
}
.input{
	height: 3rem;
	border: 1px solid rgba($DesaturatedRed, 0.4);
	border-right: none;
	border-radius: 2rem;
	display: flex;
	@media screen and (min-width: 1200px) {
		max-width: 28rem;
		height: 3.5rem;
	}
	&:focus-within{
		box-shadow: 0 0 20px -5px $DesaturatedRed;
	}
	&--error{
		border: 2px solid $SoftRed;
		position: relative;
		& > .inputEmail{
			background: url('images/icon-error.svg') no-repeat 95% center;
		}
		&::after{
			content: "Please provide a valid email";
			position: absolute;
			bottom: -2rem;
			left: 1.75rem;
			color: $SoftRed;
			font-size: small;
			font-weight: bold;
		}
	}
}
::placeholder{
	color: $DesaturatedRed;
	font-size: small;
	@media screen and (min-width: 1200px) {
		font-size: 1rem;
	}
}
.inputEmail{
	padding-left: 1.8rem;
	outline: none;
	width: calc(100% - 4rem);
	position: relative;
	@media screen and (min-width: 1200px) {
		width: calc(100% - 6rem);
		font-size: 1.5rem;
	}
}
.sendButton{
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
	width: 4rem;
	margin-left: auto;
	border-radius: 2rem;
	cursor: pointer;
	box-shadow: 0 0 10px -5px;
	transition: box-shadow 0.15s linear, transform 0.15s linear;
	&:hover{
		background-image: linear-gradient(135deg, hsl(358, 85%, 92%), hsl(359, 76%, 89%));
		box-shadow: 0 0 30px -10px;
		transform: scale(1.1);
	}
	@media screen and (min-width: 1200px) {
		width: 6rem;
	}
}
.attribution{
	font-size: 11px;
	text-align: center;
	margin-top: 3rem;
}
.attribution a{
	color: hsl(228, 45%, 44%);
}